html {
    background-color: rgb(248, 239, 173);
    color:rgb(5, 0, 28); 
    font-family: 'Courier New', Courier, monospace;
    padding: 2em;
    font-size: 18px;
}

/*W3 Schools template for button links: https://www.w3schools.com/css/css_link.asp*/
a:link, a:visited {
    background-color: rgb(135, 36, 234);
    color: white;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
  }
  
  a:hover, a:active {
    background-color: rgb(135, 36, 234);
  }

#aboutPhotos {
    margin: auto;
}

#aboutPhotos img {
    border-radius: 10px;
}

#multimedia {
    margin: auto;
    text-align: center;
}

#multimedia h3 {
    background-color: rgb(113, 161, 234);
    color: white;
}

.navbar {
    background-color: rgb(236, 228, 136);
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

#about {
    border: 2px solid rgb(234, 140, 154);
    border-radius: 10px;
    padding: 10px;
}